@charset "UTF-8";

.head {
	background-color: gray;
}

.login {
	display: inline-block;
	padding: 10px;
	color: white;
}

.time {
	padding: 10px;
	font-size: 10px;
}

.food {
	background-color: gray;
}

.hoge {
	display: inline-block;
	padding: 10px;
	color: white;
}

.form {
	padding-top: 50px;
	padding-bottom: 50px;
	}
	
td {
	border:solid;
	border: 2px solid;
	
	}
	
.text {
	width:300px;
}

.tagu {
	width:50px;
	text-align: center;
}

table {
	height:10px;
}
